<div class="row row-title-admin">
    <div class="col-3 text-left col-btn-title">
        <a href="{{ path('admin_index') }}" class="btn">{{ "back_to_index"|trans }}</a>
    </div>
    <div class="col-6 text-center">
        <h1><a href="{{ path('home') }}">{{ "admin_panel"|trans }}</a></h1>
    </div>
    <div class="col-3 text-right col-btn-title">
        <a href="{{ path('app_logout') }}" title="{{ 'trans_links_titles_deconnect_admin'|trans }}" class="btn btn-green">{{ "logout"|trans }}</a>
    </div>
</div>